li {list-style-type: none;}
ul img { width: 100px;}/* thumbnails */
ul img[src="trash.jpg"] { width: 50px;}/* delete-image */


@media only screen and (max-device-width: 480px) {
    body {font-size: 5em;}
    ul img { width: 200px;}/* thumbnails */
    ul img[src="trash.jpg"] { width: 100px;}/* delete-image */
/*
    ul img:first-child {width: 100px;}
    */
}

